In [1]:
#import libarary 
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error 

import warnings
warnings.filterwarnings('ignore')

# import dataset

In [2]:
path='houses.csv'
dataset=pd.read_csv(path)
dataset.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,price
0,3.0,1.00,1180.0,5650.0,1.0,0.0,0.0,3.0,7.0,1180.0,0.0,1955.0,0.0,98178.0,47.5112,-122.257,1340.0,22.19
1,3.0,2.25,2570.0,7242.0,2.0,0.0,0.0,3.0,7.0,2170.0,400.0,1951.0,1991.0,98125.0,47.7210,-122.319,1690.0,53.80
2,2.0,1.00,770.0,10000.0,1.0,0.0,0.0,3.0,6.0,770.0,0.0,1933.0,0.0,98028.0,47.7379,-122.233,2720.0,18.00
3,4.0,3.00,1960.0,5000.0,1.0,0.0,0.0,5.0,7.0,1050.0,910.0,1965.0,0.0,98136.0,47.5208,-122.393,1360.0,60.40
4,3.0,2.00,1680.0,8080.0,1.0,0.0,0.0,3.0,8.0,1680.0,0.0,1987.0,0.0,98074.0,47.6168,-122.045,1800.0,51.00

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
bedrooms         999 non-null float64
bathrooms        999 non-null float64
sqft_living      999 non-null float64
sqft_lot         999 non-null float64
floors           999 non-null float64
waterfront       999 non-null float64
view             999 non-null float64
condition        999 non-null float64
grade            999 non-null float64
sqft_above       999 non-null float64
sqft_basement    999 non-null float64
yr_built         999 non-null float64
yr_renovated     999 non-null float64
zipcode          999 non-null float64
lat              999 non-null float64
long             999 non-null float64
sqft_living15    999 non-null float64
price            999 non-null float64
dtypes: float64(18)
memory usage: 140.8 KB

In [4]:
dataset.isnull().sum()

bedrooms         1
bathrooms        1
sqft_living      1
sqft_lot         1
floors           1
waterfront       1
view             1
condition        1
grade            1
sqft_above       1
sqft_basement    1
yr_built         1
yr_renovated     1
zipcode          1
lat              1
long             1
sqft_living15    1
price            1
dtype: int64

In [5]:
dataset=dataset.dropna(axis=0)

In [6]:
#in this lession we can split dataset
X=dataset.iloc[:,:-1]
y=dataset.iloc[:,-1:]

we can applying normalization

In [7]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X=scaler.fit_transform(X)

# split dataset

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

# Random forest regressor
in this lession we can applying Random forest regressor

In [9]:
from sklearn.ensemble import RandomForestRegressor 

RandomForestRegressorModel=RandomForestRegressor(n_estimators=100,max_depth=20,min_samples_split=3)
RandomForestRegressorModel.fit(X_train,y_train)
#we can calculation predict
y_pred=RandomForestRegressorModel.predict(X_test)
#calculation score
print('train score : ',RandomForestRegressorModel.score(X_train,y_train))
print('mean absolute error : ',mean_absolute_error(y_test,y_pred))

train score :  0.9673097695842394
mean absolute error :  8.957038476680374